[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "site/themes/lekh"]
	path = site/themes/lekh
	url = https://github.com/ba11b0y/lekh.git
